@font-face {
    font-family: 'Nilinli';
    src: url('./IrishGrover-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nilinli';
    src: url('./Schoolbell-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}