<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">grand-child</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <app-grand-child></app-grand-child>
      </li>
      <li class="list-group-item">
        <app-grand-child></app-grand-child>
      </li>
      <li class="list-group-item">
        <app-grand-child></app-grand-child>
      </li>
      <li class="list-group-item">
        <app-grand-child></app-grand-child>
      </li>
      <li class="list-group-item">
        <app-grand-child></app-grand-child>
      </li>
      <li class="list-group-item">
        <app-grand-child></app-grand-child>
      </li>



      <div id="myDiv" #myDiv></div>

      <li class="list-group-item">
        #myDiv 这样什么都不写, 引用的是 DOM ElementRef (引用的目的是为了在模版上面使用,不是为了其他位置获取)
      </li>
      <li class="list-group-item">
        #dt = "exportAs的directive" 引用的是 directive/component
      </li>

    </ul>
  </div>
</div>