<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">shared 模块</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">1. 你可以把常用的指令、管道和组件 declare 放在共享模块里, 其他模块导入</li>
      <li class="list-group-item">2. 直接引入导出常用 build-in 模块</li>
      <li class="list-group-item">3. 引入第三方组件库, 导入模块, 所有特性模块都可以用第三方组件库的指令和组件</li>
    </ul>
  </div>
</div>

<div>{{ 'HELLO' | translate:nameValueObj }}</div>
<div [translate]="'HELLO'" [translateParams]="{value: 'nixixi2'}"></div>
<div translate [translateParams]="{value: 'nixixi3'}">HELLO</div>

<div [innerHTML]="'HELLOHTML' | translate"></div>