<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">指令Directives</h3>
  </div>
  <div class="panel-body">

    <ul class="list-group">
      <li class="list-group-item">Angular 的模板是动态的。当 Angular 渲染它们的时候，会根据指令给出的指示对 DOM 进行转换</li>
      <li class="list-group-item">Components come with functionality that makes it easy to add views, but directives can have views too.</li>
      <li class="list-group-item">But we can attach behaviors to an element without a template by using a directive.</li>
      <li class="list-group-item">Components always have a view. Directives may or may not have a view.</li>
      <li class="list-group-item">If you choose to render a view (a template) in your Directive, you can have more control over how that template is rendered.</li>
    </ul>
  </div>
</div>
