
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>event</title>
  <style>
    h2 {
      color: darksalmon;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="event-demo">
    <h2>事件名</h2>
    <my-component v-on:my-event="doSomething"></my-component>

  </div>
  

  
</body>

<script>
  // 驼峰和羊肉串不会自动转换
  // 推荐使用 羊肉串 来自定义事件
  Vue.component('my-component', {
    template: `
      <button v-on:click="$emit('my-event')">出发自定义事件</button>
    `
  });

  new Vue({
    el: '#event-demo',
    methods: {
      doSomething: function() {
        console.log('do something');
      }
    }
  });
</script>
</html>