<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>event bus</title>
  <style>
    div{
      padding: 10px;
    }
    .a {
      border: 1px solid #000;
    }

    .b {
      border: 1px solid #333;
    }

    .c {
      border: 1px solid #999;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
  </div>
</body>

<script>
  Vue.component('component-a', {
    template: `
      <div class="a">
        <h3>A</h3>
        <button @click="notify">通知 B</button>
        <component-b></component-b>
      </div>
    `,
    created: function() {
      console.log('a created')
      this.$bus.$on('communicate-a', (data) => {
        console.log('a receive:' + JSON.stringify(data));
      });
    },
    beforeDestroy: function() {
      this.$bus.$off('communicate-a');
    },
    methods: {
      notify: function() {
        this.$bus.$emit('communicate-b', {
          type: 'From a'
        });
      }
    }
  });

  Vue.component('component-b', {
    template: `
      <div class="b">
        <h3>B</h3>
        <button @click="notify">通知 C</button>
        <component-c></component-c>
      </div>
    `,
    created: function() {
      this.$bus.$on('communicate-b', (data) => {
        console.log('b receive:' + JSON.stringify(data));
      });
    },
    beforeDestroy: function() {
      this.$bus.$off('communicate-b');
    },
    methods: {
      notify: function() {
        this.$bus.$emit('communicate-c', {
          type: 'From b'
        });
      }
    }
  });

  Vue.component('component-c', {
    template: `
      <div class="c">
        <h3>C</h3>
        <button v-on:click="notify">通知 A</button>
      </div>
    `,
    created: function() {
      this.$bus.$on('communicate-c', (data) => {
        console.log('c receive:' + JSON.stringify(data));
      });
    },
    beforeDestroy: function() {
      this.$bus.$off('communicate-c');
    },
    methods: {
      notify: function() {
        this.$bus.$emit('communicate-a', {
          type: 'From c'
        })
      }
    }
  });

  Vue.prototype.$bus = new Vue();

  new Vue({
    el: '#app',
    template: '<component-a></component-a>'
  });

</script>
</html>