<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nixixi.demo.dao.ProductMapper">
  <!-- 开启二级缓存 -->
  <cache></cache>

  <resultMap id="BaseResultMap" type="com.nixixi.demo.pojo.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="INTEGER" property="categoryName" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <association property="category" javaType="com.nixixi.demo.pojo.Category">
        <id column="cid" property="id"></id>
        <result column="cname" property="name"></result>
    </association>
  </resultMap>

  <resultMap id="LazyBaseResultMap" type="com.nixixi.demo.pojo.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="INTEGER" property="categoryName" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <association column="category_id" property="category" javaType="com.nixixi.demo.pojo.Category" select="com.nixixi.demo.dao.CategoryMapper.selectByPrimaryKey" fetchType="lazy" />
  </resultMap>

  <sql id="Base_Column_List">
    id, `name`, image, detail, category_id, price, stock, `status`, create_time, update_time
  </sql>

  <select id="selectWithCategoryByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
      mp.id as id, mp.name as name, mc.name as category_name, mc.id as cid, mc.name as cname
    from mall_product mp
    left join mall_category mc
      on mp.category_id = mc.id
    where mp.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
      *
    from mall_product 
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKeyLazy" parameterType="java.lang.Integer" resultMap="LazyBaseResultMap">
    select 
      *
    from mall_product 
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.nixixi.demo.pojo.Product">
    insert into mall_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.nixixi.demo.pojo.Product">
    update mall_product
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByColumnSelective" parameterType="com.nixixi.demo.pojo.Product" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_product
    <where>
      <if test="name != null">
        name = #{name}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
    limit 5
  </select>

  <select id="selectByCategoryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
      *
    from mall_product
    where category_id = #{id}
  </select>
</mapper>