<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue form</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    
    <div id="app">
        <h3>app</h3>
        <p>the input is: <span class="name">{{name}}</span></p>
        <input :value="name" @input="format" @compositionstart="start" @compositionend="end">
    </div>

    <div id="app1">
        <h3>app1</h3>
        <p>the input is: <span class="name">{{name}}</span></p>
        <input v-model="name" maxlength="10">
        <button @click="printName">printName</button>
        <div>{{ nameHistory }}</div>
    </div>

    <div id="app2">
        <h3>app2</h3>
        <input type="text" :value="foo" @input="format">
        <p>{{ foo }}</p>
    </div>

    <div id="app3">
        <h3>app3</h3>
        <input type="text" v-model="foo" @input="format">
        <p>{{ foo }}</p>
    </div>




</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            name: '',
            composing: false
        },
        methods: {
            format($event) {
                if (this.composing) {
                    return;
                }
                this.name = $event.target.value.toUpperCase()
            },
            start() {
                this.composing = true
            },
            end($event) {
                this.composing = false
                this.name = $event.target.value.toUpperCase()
            }
        }
    })

    var app1 = new Vue({
        el: '#app1',
        data: {
            name: '',
            nameHistory: []
        },
        watch: {
            name: function (value) {
                this.nameHistory.push(value)
            }
        },
        methods: {
            printName: function () {
                setTimeout(() => {
                    alert(this.name);
                }, 100);

            }
        }
    });

    var app2 = new Vue({
        el: '#app2',
        data: {
            foo: '123'
        },
        methods: {
            format($event) {
                if (this.composing) {
                    return;
                }

                if (/^\d{0,6}(\.?\d{0,2})$/.test($event.target.value)) {
                    console.log(true);
                    this.foo = $event.target.value;
                }
                // this.foo = ($event.target.value.match(/^\d*(\.?\d{0,2})/g)[0])
            }
        }
    });

    Vue.directive('formatNumber', {

    });
    
    var app3 = new Vue({
        el: '#app3',
        data: {
            foo: '333'
        },
        methods: {
            format($event) {
                
            }
        }
    });


    // v-model : @input 和 :value 
    // v-model + @input : 两个 input 叠加
</script>



</html>