<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>component props</title>
  <style>
    h2 {
      color: darksalmon;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="props-demo">
    <h2>静态 props</h2>
    <blog-post post-title="静态 props 的 title"></blog-post>

    <h2>动态 props</h2>
    <blog-post 
      v-bind:post-title="post.title + ' by ' + post.author.name"
      v-bind:likes="42"
      v-bind:is-published="true"
      v-bind:comment-ids="[234, 266, 273]"
      v-bind:author="{ name: 'Veronica', company: 'Veridian Dynamics' }"
      v-bind="post2"
    ></blog-post>

    <h2>单项数据流</h2>


  </div>
</body>

<script>
  // js 端驼峰 或者是 羊肉串都是无所谓的
  // html 大小写不敏感 所以必须要用 羊肉串
  Vue.component('blog-post', {
    props: ['postTitle', 'likes', 'isPublished', 'commentIds', 'author', 'id2', 'title2'],
    template: `
      <div class="post-title">
        <h3>{{ postTitle }}</h3>
        <p>likes: {{ likes }}</p>
        <p>isPublished: {{ isPublished }}</p>
        <p>comment-ids: {{ commentIds }}</p>
        <p>author: {{ JSON.stringify(author) }}</p>

        <p>id2: {{ id2 }}</p>
        <p>title2: {{ title2 }}</p>
      </div>
    `
  });

  // v-bind 告诉 js 是一个表达式
  // number
  // boolean
  // array
  // object

  // props 传入一个初始值
  Vue.component('counter-one', {
    props: ['initialCounter'],
    data: function() {
      return {
        counter: this.initialCounter
      }
    }
  });

  Vue.component('counter-two', {
    props: ['size'],
    computed: {
      normalizedSize: function() {
        return this.size.trim().toLowerCase()
      }
    }
  });

  new Vue({
    el: '#props-demo',
    data: {
      post: {
        title: '标题党',
        author: {
          name: 'nilinli'
        }
      },
      post2: {
        id2: 1,
        title2: 'My Journey with Vue'
      }
    }
  });


</script>
</html>