<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue event</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="example-1">
        <button v-on:click="counter += 1">Add 1</button>
        <p>The button above has been clicked {{ counter }} times.</p>

        <button v-on:click="greet('hi', $event)">Greet</button>
    </div>

    
    
    
</body>

<script>
    // v-on 用于监听 DOM 事件
    // 添加事件修饰符
    // once 执行一次
    // 时间绑定会自动清理

    var example1 = new Vue({
        el: '#example-1',
        data: {
            counter: 0,
            name: 'Nilinli'
        },
        methods: {
            greet: function(value, event) {
                // this 指向当前 vue instance
                alert(value + ' ' + this.name + '!');
                // 'event' 是原生 DOM Event
                if (event) {
                    alert(event.target.tagName);
                }

            }
        }
    });

    
</script>
</html>