{{ label }}

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Demo: NgZone</h3>
  </div>
  <div class="panel-body">
    <p>Progress: {{progress}}%</p>
    <p *ngIf="progress >= 100">Done processing {{label}} of Angular zone!</p>
    <button class="btn btn-primary" (click)="processWithinAngularZone()">Process within Angular zone</button>
    <button class="btn btn-warning" (click)="processOutsideOfAngularZone()">Process outside of Angular zone</button>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">测试钩子</h3>
  </div>
  <div class="panel-body">
    <app-child111 [obj]="obj"></app-child111>

    <button class="btn btn-primary" (click)="onChangeObj()">Outside of Angular zone</button>
  </div>
</div>