<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Content Projection</h3>
  </div>
  <div class="panel-body">
    <div app-message header="My Message">
      <del> This is the content of the message</del>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        总结：
      </li>
      <li class="list-group-item">
        Sometimes when we are creating components we want to pass inner markup as an argument to the component. This technique is
        called content projection.
      </li>
    </ul>

  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Writing tabs demo</h3>
  </div>
  <div class="panel-body">

    <app-content-tabsest>
      <!-- <ng-container *ngIf="firstContent"> -->
        <app-content-tab  title="First tab">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam magni quia ut harum facilis, ullam deleniti porro dignissimos
          quasi at molestiae sapiente natus, neque voluptatum ad consequuntur cupiditate nemo sunt.
        </app-content-tab>
      <!-- </ng-container> -->

      <app-content-tab *ngFor="let tab of tabs" [title]="tab.title">
        {{ tab.content }}
      </app-content-tab>

    </app-content-tabsest>

    <button class="btn btn-primary" (click)="toggle()">toggle 第一个 content</button>
    <ul class="list-group">
      <li class="list-group-item">tabsest： 组件中操作内容投影</li>
      <li class="list-group-item">tab： 简单的内容投影演示</li>
    </ul>
  </div>
</div>