<h4> xxx | date</h4>
<p class="bg-success">
  {{ birthday | date }}
</p>
<p class="bg-info">
  {{ birthday | date:"MM/dd/yy" }}
</p>
<p class="bg-warning">
  {{ birthday | date:format }}
</p>

<button class="btn btn-info" (click)="toggleFormat()">toggleFormat</button>

<h4>链式调用</h4>
<p class="bg-primary">{{ birthday | date | uppercase }}</p>



<h3>其他 build in 管道</h3>
<h4>currency</h4>
<p>A: {{ a | currency }}</p>
<p>A: {{ a | currency:'CAD' }}</p>
<p>A: {{ a | currency:'CAD':'code' }}</p>
<p>B: {{ b | currency:'CAD':'symbol':'4.2-2' }}</p>
<p>B: {{ b | currency:'CAD':'symbol-narrow':'4.2-2' }}</p>

<h4>number</h4>
<p>e (no formatting): {{e | number}}</p>
<p>e (3.1-5): {{e | number:'3.1-5'}}</p>
<p>e (4.5-5): {{e | number:'4.5-5'}}</p>
<p>pi (no formatting): {{pi | number}}</p>
<p>pi (3.1-5): {{pi | number:'3.1-5'}}</p>
<p>pi (3.5-5): {{pi | number:'3.5-5'}}</p>

<h4>percentage</h4>
<p>A: {{ a | percent }} </p>
<p>A: {{ a | percent:'5.1-5' }} </p>

<h4>slice - Array.prototype.slice && String.prototype.slice</h4>
<p>{{ str | slice:0:2 }}</p>
<p>{{ arr | slice:0:2 }}</p>

<h4>lowercase/uppercase/titlecase</h4>
<p>{{ 'I am a apple fans!!!' | lowercase }}</p>
<p>{{ 'I am a apple fans!!!' | uppercase }}</p>
<p>{{ 'I am a apple fans!!!' | titlecase }}</p>