<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Master controls {{names.length}} names </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" app-setter-input-sub *ngFor="let name of names" [name]="name"></li>

        </ul>

        set 先，然后再就是 onchanges
    </div>
    <div class="panel-body">
        <app-setter-input-sub2 [obj1]="obj1" [name1]="name1"></app-setter-input-sub2>
        <button class="btn btn-default" (click)="changeObj1Name()">改变 obj1.name</button>
        <button class="btn btn-default" (click)="changeName1()">改变 name1</button>

    </div>
</div>