<ul class="list-group">
  <li class="list-group-item">
    <app-component-range></app-component-range>
  </li>
  <li class="list-group-item">
    <app-component-range></app-component-range>
  </li>
</ul>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">在组件内注册服务</h3>
  </div>
  <div class="panel-body">
    <ol class="list-group">
      <li class="list-group-item">
        总结： 1. 不是全局单例 2. 范围限于当前组件和后代(后代可以访问当前组件, 反之不行) 3. 会随着组件的生命周期结束
      </li>
    </ol>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">注入器冒泡</h3>
  </div>
  <div class="panel-body">
    <ol class="list-group">
      <li class="list-group-item">
        当一个组件申请获得一个依赖时，Angular 先尝试用该组件自己的注入器来满足它
      </li>
      <li class="list-group-item">
        1. 组件的 provider 中找
      </li>
      <li class="list-group-item">
        2. 父组件的 provider 中找
      </li>
      <li class="list-group-item">
        3. 找到 AppComponent 为止
      </li>
    </ol>
  </div>
</div>