:host {
    display: block;
    background-color: darksalmon;
}

// 带有active 才会生效
:host(.active) {
    background-color: red;
}

// 当祖先元素有  .theme-light 的时候 h2 样式才会生效
:host-context(.theme-light) h2 {
    background-color: #eef;
}