<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Attribute-directives</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <p appMyHighlight highlightColor='yellow' #appMyHighlight1="appMyHighlightHahahahaha">yellow</p>
        <button class="btn btn-primary" (click)="appMyHighlight1.log()">Log appMyHighlight1.highlightColor</button>
      </li>
      <li class="list-group-item">
        <p appMyHighlight [highlightColor]="'red'">red</p>
      </li>
      <li class="list-group-item">
        <p appMyHighlight>defaultColor</p>
      </li>
    </ul>




    <ul class="list-group">
      <li class="list-group-item">
        总结：
      </li>
      <li class="list-group-item">
        属性型指令用于改变一个 DOM 元素的外观或行为
      </li>
      <li class="list-group-item">
        ElementRef 访问宿主元素
      </li>
      <li class="list-group-item">
        @HostListener('mouseenter') 装饰器宿主 Event
      </li>
      <li class="list-group-item">
        @HostBinding('attr.class') 绑定宿主Attribute
      </li>
    </ul>

  </div>
</div>