<div class="panel panel-info">
  <div class="panel-heading">模版驱动表单 FormsModule </div>
  <div class="panel-body">
    <form #heroForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="panel panel-success">
        <div class="panel-heading">ngModel + name 注册 FormControl</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="">input[type='text']</label>
            <input class="form-control" name="nickName" [(ngModel)]="model.nickName">
            <p class="help-block">model.nickName --> {{ model.nickName }}</p>
          </div>
          <div class="form-group">
            <label for="">select</label>
            <select class="form-control" name="power" [(ngModel)]="model.power">
              <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>
            <p class="help-block">model.power --> {{ model.power }}</p>
          </div>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">ngModelGroup 给模版驱动表单注册 FormGroup</div>
        <div class="panel-body">
          <div ngModelGroup="detail-name">
            <div class="form-group">
              <label for="">firstName:</label>
              <input class="form-control" name="firstName" [(ngModel)]="model.firstName">
            </div>
            <div class="form-group">
              <label for="">lastName:</label>
              <input class="form-control" name="lastName" [(ngModel)]="model.lastName">
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">ngModel & two-way binding</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="">分解 [(ngModel)]</label>
            <input class="form-control" type="text" name="bestWish" [ngModel]="bestWish" (ngModelChange)="bestWish = $event">
            <p class="help-block">bestWish is: {{ bestWish }}</p>
          </div>
          <div class="form-group">
            <label for="">自定义 two way binding 指令</label>
            <app-custom-count [(count)]="countNumber"></app-custom-count>
            <p class="help-block">countNumber is: {{ countNumber }}</p>
          </div>
        </div>
      </div>



      <div class="panel panel-success">
        <div class="panel-heading">input className 根据状态变化</div>
        <div class="panel-body">
          <div class="form-group">
            <label for=""></label>
            <input class="form-control" name="age" type="number" [(ngModel)]="model.age" #age="ngModel">
            <!-- <p class="help-block">age.className {{ age.className }}</p>
            <p class="help-block">pristine  {{ age.pristine }}</p> -->
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
    </form>
  </div>
</div>
