<h3>slide toggle</h3>
<mat-slide-toggle 
  [checked]="sliderValue"
  (change)="onSliderChange($event)"
  (dragChange)="onSliderDragChange($event)"
  (toggleChange)="onSliderToggleChange($event)"
>Slide me!</mat-slide-toggle>
<div>
  <button mat-button mat-raised-button color="primary" (click)="onChangeSilderValue()">改变 checked 的值</button>
  <button mat-button mat-raised-button color="primary" (click)="onToggleSilderValue()">toggle</button>
</div>

<h3>form filed</h3>
<mat-form-field appearance="outline">
  <mat-label>Outline form field</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matSuffix fontIcon="icon-option"></mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>
